.boite h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(0, 128, 255);
}
.paragraphe {
    font-size: 1.2em;
    color: black;
    text-align: justify;
    margin: 20px;
    padding: 20px;
    background-color: #FFE2E2;
    border-radius: 10px;
}
.publie {
    font-size: 1em;
    color: gray;
    text-align: left;
    margin: 20px;

}
.paragraphe h2 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 20px;
    font-size: 2em;
     background-color: #FFE2E2;
}
.underline {
    text-decoration: underline;
}
.barre {
    text-decoration: line-through;
}
.gras {
    font-weight: bold;
}
.para2 {
    font-size: 1.2em;
    color: black;
    text-align: justify;
    margin: 20px;
    padding: 20px;
    background-color: #FFE2E2;
    border-radius: 10px;
}
.tit {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
     background-color: #FFE2E2;
}
.pub {
    font-size: 1em;
    color: gray;
    text-align: left;
    margin: 20px;
}
.les {
    text-decoration: line-through;
}
.footer {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 20px;
    background-color: #5b8ebc;
}


